// app global css in SCSS form
@font-face {
  font-family: Comfortaa-Light;
  src: url("../assets/font/Comfortaa-Light.ttf");
}

:focus-visible {
  outline: unset;
}

.fadeInDelay1s {
  animation-name: fadeIn;
  animation-delay: 1s;
}

.fadeOutDelay1s {
  animation-name: fadeOut;
  animation-delay: 1s;
}

.flex-start {
  align-content: flex-start;
}

.q-page {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}
