// app global css in SCSS form
@font-face {
  font-family: Comfortaa-Light;
  src: url('../assets/font/Comfortaa-Light.ttf');
}

:focus-visible {
  outline: unset;
}

.fadeInDelay1s {
  animation-name: fadeIn;
  animation-delay: 1s;
}

.fadeOutDelay1s {
  animation-name: fadeOut;
  animation-delay: 1s;
}

.flex-start {
  align-content: flex-start;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 28px 0 rgb(0 0 0 / 30%);
  padding: 0 36px;
  z-index: 1;
  backdrop-filter: blur(18px);
  will-change: transform, opacity;
}

header .q-tab__indicator.absolute-bottom.text-primary {
  height: 4px;
  border-radius: 2px;
  bottom: 6px;
}

header .q-focus-helper {
  border-radius: 6px!important;
  height: 82%!important;
  top: 50%!important;
  transform: translateY(-50%);
}

header .q-toolbar__title {
  font-family: "Comfortaa-Light", sans-serif;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(89,89,89);
  width: 100%;
}

.q-tab__label {
  font-size: 16px;
}

.mainPage>.row {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

.mainPage>.row:first-child {
  flex-direction: column;
  align-content: space-evenly;
}

.mainPage>.row>.row {
  flex-direction: column;
}

.mainPage .bgPic {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mainPage .app_name {
  font-family: "Comfortaa-Light", sans-serif;
  font-size: 9vmin;
  margin: 0;
  display: flex;
  color: white;
  text-shadow: 0 0 2vmin #777 !important;
  font-weight: bolder;
}

.mainPage .app_name .q-chip {
  font-size: 2vmin;
  font-family: "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: normal;
}

.mainPage .P1st {
  flex-direction: column;
}

.mainPage .P1st h2 {
  font-size: 3.4vmin;
  color: white;
  font-weight: bolder;
  line-height: 7vmin;
  text-shadow: 0 0 2vmin #777 !important;
  margin: 0 0 4vmin;
}

.mainPage .P1st h3 {
  font-size: 3vmin;
  color: white;
  font-weight: 500;
  margin: 0;
  line-height: 6vmin;
  text-align: center;
}

.mainPage .P1st .window {
  padding-top: 60%;
  position: relative;
}

.mainPage .P1st .window>.row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2.4vmin);
  border-radius: 2vmin;
  box-shadow: 0 0 28px 0 rgb(0 0 0 / 30%);
}

.mainPage .P1st .window>.row>.row:first-child {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 3vmin 3vmin 2vmin 3vmin;
  color: rgba(89,89,89);
}

.mainPage .P1st .window>.row>.row:last-child {
  flex-grow: 1;
  background-color: rgba(255,255,255,0.7);
  border-radius: 2vmin;
  align-items: flex-start;
  justify-content: center;
  padding: 0.2vmin 1vmin;
  margin-right: -1px;
}

.mainPage .P1st .window p {
  font-size: 2.6vmin;
  margin: 0;
}

.mainPage .P2nd {
  padding-left: 6vmin;
  text-align: left;
  flex-grow: 1;
}

.mainPage .P2nd h2 {
  font-size: 5vmin;
  margin: 0 0 3vmin;
}

.mainPage .P2nd p {
  font-size: 3vmin;
  line-height: 6vmin;
  margin: 0;
}

.mainPage .P2nd p:last-of-type {
  font-size: 4vmin;
  font-weight: bold;
  line-height: 10vmin;
}

.mainPage .P3rd {
  padding-left: 6vmin;
  text-align: left;
  flex-grow: 1;
}

.mainPage .P3rd h2 {
  margin: 2vmin 0;
  font-size: 5vmin;
  color: var(--q-primary);
  position: relative;
  font-weight: bold;
  line-height: 1.6em;
}

.mainPage .P3rd h2::after {
  content: "";
  width: 2.5em;
  height: 0.2em;
  background-color: var(--q-primary);
  position: absolute;
  left: 0;
  bottom: 0;
}

.mainPage .P3rd p {
  font-size: 4vmin;
  line-height: 8vmin;
  margin: 0;
}

.mainPage .P4th {
  padding-left: 12vmin;
  text-align: left;
  flex-grow: 1;
}

.mainPage .P4th h2 {
  margin: 2vmin 0;
  font-size: 5vmin;
  color: var(--q-primary);
  position: relative;
  font-weight: bold;
  line-height: 1.6em;
}

.mainPage .P4th h2::after {
  content: "";
  width: 2.5em;
  height: 0.2em;
  background-color: var(--q-primary);
  position: absolute;
  left: 0;
  bottom: 0;
}

.mainPage .P4th p {
  font-size: 4vmin;
  line-height: 8vmin;
  margin: 0;
}

.mainPage .P5th {
  padding-left: 6vmin;
  text-align: left;
  flex-grow: 1;
}

.mainPage .P5th h2 {
  margin: 2vmin 0;
  font-size: 5vmin;
  color: var(--q-primary);
  position: relative;
  font-weight: bold;
  line-height: 1.6em;
}

.mainPage .P5th h2::after {
  content: "";
  width: 2.5em;
  height: 0.2em;
  background-color: var(--q-primary);
  position: absolute;
  left: 0;
  bottom: 0;
}

.mainPage .P5th p {
  font-size: 4vmin;
  line-height: 8vmin;
  margin: 0;
}

.mainPage .P6th {
  padding-left: 6vmin;
  text-align: left;
  flex-grow: 1;
}

.mainPage .P6th h2 {
  font-size: 5vmin;
  margin: 0 0 3vmin;
}

.mainPage .P6th p {
  font-size: 3vmin;
  line-height: 6vmin;
  margin: 0;
}

.downPage {
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 10vmin 0;
}

.downPage h1 {
  margin: 8vmin 0 0 0;
  color: white;
  font-size: 6vmin;
  line-height: 2em;
  position: relative;
}

.downPage h1::after {
  content: "";
  width: 1.2em;
  height: 0.16em;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: 0.08em;
  transform: translateX(-50%);
}

.downPage h2 {
  color: white;
  margin: 0 0 4vmin 0;
  font-size: 3vmin;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 2em;
}

.downPage .downCard {
  background-color: white;
  width: 100%;
  border-radius: 1vmin;
  box-shadow: 0 0 28px 0 rgb(0 0 0 / 30%);
  padding: 3vmin 2vmin;
}

.downPage .downCard h3 {
  font-size: 15px;
  margin: 0;
  display: flex;
  line-height: 20px;
}

.downPage .downCard>.row>.row>span {
  display: flex;
  align-items: center;
  margin-left: 2vmin;
  color: rgb(127,127,127);
}

.aboutPage {
  position: relative;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 10vmin 0;
  width: 100vw;
  height: 100vh;
}

.aboutPage .bgPic {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.5);
}

.aboutPage>.row {
  flex-direction: column;
  align-items: center;
}

.aboutPage h1 {
  margin: 0;
  color: white;
  font-size: 6vmin;
  line-height: 2em;
  position: relative;
}

.aboutPage h1::after {
  content: "";
  width: 1.2em;
  height: 0.16em;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: 0.08em;
  transform: translateX(-50%);
}

.aboutPage h2 {
  color: white;
  margin: 0;
  font-size: 3vmin;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 2em;
}

.aboutPage p {
  color: white;
  margin: 0;
  font-size: 2.2vmin;
  line-height: 2.2em;
}

.wantedPage {
  position: relative;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 10vmin 8vmin;
  flex-direction: column;
}

.wantedPage .title {
  margin-top: 6vmin;
}

.wantedPage h1 {
  margin: 0;
  color: white;
  font-size: 6vmin;
  line-height: 2em;
}

.wantedPage h2 {
  color: rgba(255,255,255,0.42);
  margin: 0 0 0 3vmin;
  font-size: 6vmin;
  font-weight: 400;
  line-height: 2em;
}

.wantedPage p {
  color: white;
  margin: 0;
  font-size: 2.2vmin;
  line-height: 2.2em;
}

.wantedPage .method {
  background-color: white;
  border-radius: 2vmin;
  padding: 0.4vmin 4vmin;
  font-size: 2vmin;
  box-shadow: 0 0 28px 0 rgb(0 0 0 / 30%);
  color: rgb(25,46,66);
}

.wantedPage .jobCard {
  width: 80%;
  background-color: white;
  box-shadow: 0 0 28px 0 rgb(0 0 0 / 30%);
  border-radius: 1vmin;
  margin: 4vmin 0;
  padding: 3vmin;
  position: relative;
  flex-direction: column;
}

.wantedPage .jobCard h4 {
  margin: 0 0 3vmin;
  font-size: 3vmin;
  line-height: 1em;
}

.wantedPage .jobCard h4::after {
  content: "";
  height: 1em;
  width: 0.3em;
  background-color: var(--q-primary);
  position: absolute;
  left: 0;
}

.wantedPage .jobCard p {
  color: black;
}
